<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_ilb-ExpAbility._tcp</string>
		<string>_ilb-ExpAbility._udp</string>
	</array>
	<key>NSUserNotificationsUsageDescription</key>
	<string>Push notifciations</string>
</dict>
</plist>
